body {
    -webkit-font-smoothing:antialiased ;
    -moz-osx-font-smoothing:grayscale;
    /*font-family: "Montserrat", sans-serif;*/
    font-size: 12px;
    font-weight: normal;
    overflow-y: auto;
    overflow-x: hidden;
    color: #a9b1b3;
}
body, html {
    margin: 0;
    padding: 0;
    color: #a9b1b3;
    font-size: 14px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}
*, .wechat-tips {
    box-sizing: border-box;
}
button {
    outline: none;
}
[class*=" icon-"], [class^=icon-] {
    /*font-family: d_icomoon!important;*/
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#mainHeader {
    padding-top: 75px;
}
.pattern-bg {
    display: flex;
    justify-content: space-between;
}
.pattern {
    position: absolute;
    top: 0;
    z-index: 1;
    max-width: 312px;
    width: 21.66%;
    transition: all .5s;
}
.pattern img {
    width: 100%;
    transition: all 1s;
    pointer-events: none;
}
.pattern.left {
    left: 0;
}
.pattern.right {
    right: 0;
}
@media (max-width: 1280px) {
    .pattern {
        width: 18%;
    }

    .pattern {
        position: absolute;
        top: 0;
        z-index: 1;
        max-width: 312px;
        width: 21.66%;
        transition: all .5s;
    }
}
.out-container {
    position: relative;
    z-index: 2;
    transition: all .5s;
}
.main, .out-container {
    display: block;
    height: 100%;
}
.main {
    margin: 0 auto;
    max-width: 94%;
    width: 700px;
}
.main>header {
    display: block;
    min-height: 700px;
    max-height: 900px;
    height: 100%;
}
.main .table-container {
    display: table;
    width: 100%;
    height: 100%;
}
.main .cell-container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.main>header .app-brief {
    transition: all .5s;
}
.main>header .wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 290px;
}
.main .icon-container {
    position: relative;
    margin: 0 auto;
    width: 290px;
    height: 290px;
}
.main .icon-container .bg-path {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    color: #eff2f2;
    font-size: 290px;
}
.main .icon-container .icon {
    top: 20px;
    left: 20px;
    padding: 10px;
    width: 130px;
    height: 130px;
    border-radius: 17.54%;
    background-color: #fff;
}
#gameImg {
    width: 110px;
}
.main .icon-container span {
    position: absolute;
    z-index: 2;
    display: block;
}
.main header .app-brief .icon-container .qrcode {
    background-color: #eff2f2;
    transition: all .25s;
}
.main .icon-container .qrcode {
    right: 4px;
    bottom: 2px;
    width: 140px;
    height: 140px;
    border: 20px solid transparent;
    border-radius: 26px;
    transition: transform 0.25s ease;
}
.main .icon-container .qrcode:hover {
    transform: scale(1.5, 1.5);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
}
.main .icon-container .qrcode img {
    width: 100px;
    height: 100px;
}
.main .qrcode-container {
    width: 290px;
    margin: 0 auto;
    margin-top: 20px;
}
.main .qrcode-container .mobileQrcode {
    display: none;
    width: 290px;
    margin: 0 auto;
}
.main .qrcode-container .mobileQrcode img {
    width: 90px;
    margin: 0 auto;
}

.main>header .release-type {
    margin: 24px auto 0;
    width: 290px;
    text-align: left;
}
.main>header .wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 290px;
}
.main>header .name, .main>header body.passwd .name {
    position: relative;
    margin: 20px auto;
    width: 290px;
    color: #505556;
    text-align: left;
    font-weight: 400;
    font-size: 28px;
}
.main header .app-brief .name .icon-warp {
    vertical-align: bottom;
}
.main>header .name span, .main>header body.passwd .name span {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 1.6;
    vertical-align: middle;
}
.main>header .name .iconfont {
    vertical-align: middle;
    font-size: 26px;
}
.main>header .scan-tips {
    margin: 0 auto;
    width: 290px;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
}
.text-black {
    color: #505556;
}
.main>header .release-info {
    position: relative;
    /* margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px; */
}
.main>header .release-info p {
    margin-bottom: 4px;
}
.footer {
    margin-top: 70px;
    padding: 20px 20px 90px;
    border-top: 1px solid #dae2e3;
}
.error_money h2, .footer, .per-type-info .info, .releases-section .release-view .qrcode, .section-store-link, .store-section {
    text-align: center;
}
.main .footer .btn {
    color: #fff;
    background-color: #32b2a7;
    padding: 5px 10px;
    border-radius: 15px;
    float: right;
    margin-top: -5px;
    text-decoration: none;
}
.main>header .release-info:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    margin-left: -30%;
    width: 60%;
    /* border-top: 1px solid #dae2e3; */
    content: ' ';
}
.main>header .actions {
    margin: 30px auto 30px;
    max-width: 290px;
}
#actions {
    display: none;
}
#actions button.loading {
    min-width: 43px;
    width: 43px;
    height: 43px;
    padding: 12px 0px;
    border-top-color: transparent;
    border-left-color: transparent;
    animation: rotate .6s linear infinite;
    -webkit-animation: rotate .6s linear infinite;
    background: 0 0;
}
#actions button {
    transition: all .25s;
}
.main>header .actions button, .actions .trustBtn {
    display: inline-block;
    padding: 12px 46px;
    min-width: 200px;
    border: 1px solid #32b2a7;
    border-radius: 40px;
    font-size: 14px;
    background: #32b2a7;
    color: #fff;
}

.footer a {
    /*text-decoration: none;*/
    color: #a9b1b3;
}
.footer .gotoOther {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.advertise {
    display: none;
}
.platform-matching-tips {
    display: none;
}
@media screen and (max-width: 768px) {

    .main>header {
        max-height: 100%;
        height: 100%;
        min-height: 400px;
    }
    .main>header {
        min-height: 400px;
    }
    .main .app-brief {
        text-align: center;
    }
    .main .icon-container {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .main .app-brief .bg-path, .main .app-brief .qrcode {
        display: none;
    }
    .main>header .release-type {
        display: none;
    }
    .main>header .name {
        text-align: center;
        font-size: 24px;
    }
    .main>header .name .icon-warp {
        position: static;
        display: inline-block;
        /*margin-left: -48px;*/
        /*max-width: 76%;*/
        margin: 0 auto;
    }
    .main>header .scan-tips {
        display: none;
    }
    .main>header .release-info {
        display: block;
    }
    .main .footer .one-key-report {
        float: none;
        display: block;
        width: 80px;
        margin: 20px auto 0;
    }
    .main .icon-container .icon {
        position: static;
        display: inline-block;
    }
    .main .app-brief button {
        display: inline-block;
    }
    .advertise {
        display: block;
    }
    .main header .app-brief .qrcode-container .mobileQrcode {
        display: block;
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.advertise {
    height: 60px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    left: 0;
}
.advertise .advertise-close {
    position: absolute;
    right: 6px;
    top: 6px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    color: #fff;
    overflow: visible;
    font-weight: bold;
}


.browserOpenTip {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    display: none;
}
.browserOpenTip .triangle {
    border: 6px solid transparent;
    border-bottom: 10px solid #32b2a7;
    width: 0;
    position: absolute;
    right: 10px;
    top: -7px;
}
.browserOpenTip .tip-text {
    background: #32b2a7;
    border-radius: 8px;
    color: #fff;
    position: absolute;
    top: 8px;
    right: 3px;
    width: 158px;
    text-align: center;
    padding: 14px 0;
    line-height: 1.3;
}
.downloading-tips {
    color: #32b2a7;
    display: none;
}
#copyHref {
    cursor: pointer;
    background: #32b2a7;
    color: #fff;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: 5px;
    display: inline-block;
}
#copyTip {
    color: #32b2a7;
    display: none;
}
.trustBtn {
    text-decoration: none;
}
